<div class='hero'>
  <div class='hero__content'>
    <div class='container'>
      <div class='row'>
        <div class='col-md-4 offset-md-1 hero__content--left'>
          <img
            src='{{image.url}}'
            data-sol-inline='image'
            data-sol-inline-type='media'
            class='heroimg img-fluid'
            alt='Responsive image'
          />
        </div>
        <div class='hero__content--right col-md-7'>
          <h1
            class='display-3 mb-4'
            data-sol-inline='title'
            data-sol-placeholder='add title'
          >
            {{{title}}}
          </h1>
          <h2
            class='display-5'
            data-sol-inline='subtitle'
            data-sol-placeholder='add text'
          >
            {{{subtitle}}}
          </h2>
        </div>
      </div>
    </div>
  </div>

  <!--<div class='jumbotron jumbotron-fluid bg-info text-white
d-flex align-items-center
'
    
    style=" height: 400px;"
    >
  <div class='container'>
    <div class='row'>
      <div class='col-md-4 offset-md-1 d-flex align-items-center justify-content-center'>
        <img
          src='{{image.url}}'
          data-sol-inline='image'
          data-sol-inline-type='media'
          class='img-fluid {{imageOnlyStyle}}'
            style="max-width:200px"
          alt='Responsive image'
        />
      </div>
      <div class='col-md-7 d-flex align-items-center text-center flex-column'>
        <h1
          style='letter-spacing: -1px;
          line-height: 25px;
          margin-top: 40px;
          '
          class='h1 mb-4 text-uppercase fw-light'
          data-sol-inline='title'
          data-sol-placeholder='add title'
        >
          {{{title}}}
        </h1>
        <h2
          class='text-capitalize fw-lighter'
          data-sol-inline='subtitle'
          data-sol-placeholder='add sub title'
        >
          {{subtitle}}
        </h2>
      </div>
    </div>
  </div>
</div>-->
</div>