<div class='container mt-5'>
  <div class='row mx-lg-5 px-lg-5'>
    <div class='col-8 offset-2  mb-5 p-lg-5 offset-md-0 col-md-5 {{position}}'>
      <img
        src='{{image.url}}'
        data-sol-inline='image'
        data-sol-inline-type='media'
        class='img-fluid {{imageOnlyStyle}}'
        alt='Responsive image'
      />
    </div>
    <div class='col-12 col-md-7 p-lg-5'>
      <h1
        class='h6 fw-medium heroshit'
        data-sol-inline='title'
        data-sol-placeholder='Add Title'
      >
        {{{title}}}
      </h1>
      <p  class="fw-lighter" data-sol-inline='text' data-sol-placeholder='Add Text'>
        {{{text}}}
      </p>
    </div>
  </div>
</div>